[Desktop Entry]
Type=Service
ServiceTypes=Kst Data Object
X-KDE-ModuleType=Plugin
X-KDE-Library=alphabetafilter
X-Kst-Plugin-Author=William Ledda
Name=Alpha Beta filter plugin
Name[bs]=Alpha Beta filter plugin
Name[ca]=Alpha Beta filter plugin
Name[ca@valencia]=Alpha Beta filter plugin
Name[de]=Alpha Beta filter plugin
Name[el]=Alpha Beta filter plugin
Name[en_GB]=Alpha Beta filter plugin
Name[es]=Alpha Beta filter plugin
Name[fr]=Alpha Beta filter plugin
Name[gl]=Alpha Beta filter plugin
Name[it]=Filtro Alpha Beta
Name[nl]=Alpha Beta filter plugin
Name[pl]=Alpha Beta filter plugin
Name[pt]=Alpha Beta filter plugin
Name[pt_BR]=Alpha Beta filter plugin
Name[sv]=Alpha Beta filter plugin
Name[uk]=Alpha Beta filter plugin
Name[x-test]=xxFilter - Alpha Beta Pluginxx
Comment=Implements a Alpha Beta Filter Plugin for Kst.
Comment[bs]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[ca]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[ca@valencia]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[de]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[el]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[en_GB]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[es]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[fr]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[gl]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[it]=Implementa filtro Alpha-Beta
Comment[nl]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[pl]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[pt]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[pt_BR]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[sv]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[uk]=Implements a Alpha Beta Filter Plugin for Kst.
Comment[x-test]=xxImplements a Alpha Beta Filter Plugin for Kst.xx
